<%= form_for([@answer], remote: true) do |f| %>
	<ul class="errors" style="list-style: none;"></ul>
	
	<div class="form-group">
		<%= f.text_area :text, autofocus: true, cols: "40", rows: "5", class:"form-control" %>
	</div>

	<%= f.submit "Дать ответ",  class: "btn btn-success pull-right" %>
<% end %>	